.carting-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carting-count {
  border: 1px solid #411530;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 8px;
  right: 3px;
  
}
.carting-1 {
  display: flex;
  gap: 10px;
  width: 100%;
  
}

.carting-3 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  color: #411530;
}
.carting-5 {
  margin-top: 20px;
}
.carting-4 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}


.carting-7 {
  display: flex;
  width: 100%;
  
  flex-direction: row;
  border-top: 1px solid #411530;
  border-bottom: 1px solid #411530;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  
}
.carting-9 {
  display: flex;
  gap: 80px;
  width: 50%;
}

.carting-9 p, .carting-15 p, .carting-27{
  width: 30%;
}
.carting-8 {
  font-size: 28px;
  font-weight: 500;
  width: 50%;
  color: #411530;
}
.carting-10 {
  font-size: 28px;
  font-weight: 500;
  color: #411530;
}
.carting-11 {
  font-size: 28px;
  font-weight: 500;
  color: #411530;
}
.carting-12 {
  font-size: 28px;
  font-weight: 500;
  color: #411530;
}

.carting-13 {
  display: flex;
  width: 100%;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.carting-14 {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.carting-15 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 80px;
  width: 50%;
}


.carting-27 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
justify-content: center;
}
.carting-29 {
  display: flex;
  width: 52px;
  height: 28px;
  border: 1px solid #411530;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}
.carting-32 {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  margin-top: 100px;
  margin-bottom: 10px;
  
}
.carting-33 {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.carting-34 {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.carting-25 {
  display: flex;
  flex-direction: row;
  gap: 71%;
}
.carting-28 {
  margin-top: 10px;
}
.carting-30 {
  margin-top: 5px;
}

.carting-35 {
  display: flex;
  background-color: #411530;
  color: white;
  align-items: center;
  width: 400px;
  height: 100px;
  border-radius: 12px;
  justify-content: center;
  align-content: center;
  align-self: center;
  font-size: 32px;
  font-weight: 600;
}
